<div class="image-upload-container">
  <div class="image-upload-error">
    <div *ngFor="let error of imgFile?.error; let i = index">
      <span class="caption color-warn">{{ error }}</span>
    </div>
  </div>
  <div class="image-uploader">
    <rk-lib-test-rk
      [name]="'Rajendra'"
      (readStarted)="readStart($event)"
      (readOperationCompleted)="readComplete($event)"
    ></rk-lib-test-rk>
  </div>
  <div class="image-preview-action-container">
    <div
      class="image-preview-action"
      *ngFor="let attachment of imgFile?.imageFile; let i = index"
    >
      <div
        class="image-preview"
        *ngIf="attachment.preview !== '' && attachment.preview"
      >
        <img #rkImageElement [src]="attachment.preview" [alt]="'image'" />
      </div>
      <div
        class="image-action"
        *ngIf="attachment.preview !== '' && attachment.preview"
      >
        <button
          name="trigger-delete-file"
          type="button"
          (click)="removeFile(i)"
        >
          X
        </button>
        <button *ngIf="!rotated" type="button" (click)="rotate(i)">
          Rotate
        </button>
        <button *ngIf="rotated" type="button" (click)="clearRotation(i)">
          Clear Rotation
        </button>
      </div>
    </div>
  </div>
</div>
